.intro-header, .intro-authorize
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cards div img {
    -o-object-fit: contain;
    object-fit: contain;
}

.no-objectfit .cards div img.objectfit {
    max-width: none;
}