html, body, div[ng-view] {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

main section {
    width: 100%;
    padding: 75px 0;
}

main section:nth-child(1) {
    margin-bottom: 50px;
}

main section:nth-child(2n) {
    background-color: #fafafa;
}

main section .container .row:first-child {
    margin-bottom: 25px;
}

.navbar-default {
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    display: none;
}
.navbar-default .navbar-title {
    line-height: 50px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .navbar-default {
        background:rgba(249,249,249,0.7);
        margin-bottom: 0;
        border: none;
        box-shadow: 0 1px 15px rgba(0,0,0,0.1);
    }

    .navbar .navbar-nav li i.underline {
        background: #1595a3;
        bottom: 0;
        display: block;
        height: 2px;
        left: 50%;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        -ms-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        width: 0;
    }

    .navbar .navbar-nav li:hover i.underline {
        opacity: 1;
        width: 100%;
        left: 0;
    }

    .navbar-default .navbar-nav {
        margin-top: 10px;
    }

    .navbar-default .navbar-nav>li>a {
        padding-bottom: 30px;
        color: #131313;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #131313;
    }

    .navbar-default .navbar-brand {
        padding-top: 10px;
        display: block;
    }
    .navbar-default .navbar-brand img {
        width: 60px;
    }

    .navbar-default .navbar-title {
        display: none;
    }
}

.intro {
    display: table;
    width: 100%;
    height: calc(100% - 52px);
    padding: 0;
    text-align: center;
    color: #fff;
    background: url(../images/neigbourhood.png) no-repeat bottom center;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    color: #d3d3d3;
}

.intro .intro-body .intro-text {
    font-size: 22px;
    padding: 15px 0;
}

.intro .intro-body .brand-heading {
    text-transform: uppercase;
    font-size: 70px;
    display: none;
}

@media (min-width: 768px) {
    .intro {
        height: calc(100% - 75px);
    }

    .intro .intro-body .brand-heading {
        display: block;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.intro .row div {
    background:rgba(0,0,0,0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

header .container {
    margin-bottom: 150px;
    padding-bottom: 20px;
    width: 80%;
}

.team-member img {
    margin: 0 auto;
}

.team-member h4 {
    text-transform: none;
}

.picture .team-member-icons, .picture:hover img, .picture:hover .mask {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.picture:hover .team-member-icons, .picture img, .picture .mask {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.picture img, .picture:hover .team-member-icons {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
}

.picture .team-member-icons, .picture:hover img {
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
}

.picture .mask {
    opacity: 0;
}

.picture:hover .mask {
    opacity: 1;
}

.picture {
    background-color: #fafafa;
    border: 7px solid #dedede;
    overflow: hidden;
    position: relative;
    width: 225px;
    height: 225px;
    margin: 0 auto;
    border-radius: 50%;
}
.picture .mask {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.team-member-icons {
    display: table;
    margin: 90px auto;
}

.team-member-icons a{
    background-color: #a5a5a5;
    border-radius: 50%;
    display: block;
    float: left;
    height: 34px;
    line-height: 32px;
    margin: 0 5px;
    width: 34px;
}

.team-member-icons a i {
    color: white;
}

.title-sep {
    background: #1595a3;
    width: 60px;
    height: 2px;
    display: block;
    margin: 0 auto;
}

.navbar-default .navbar-nav>li>a.active {
    color: #1595a3;
}

.carousel-control {
    display: none;
}

.carousel-inner img {
    margin: 0 auto;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li, .carousel-indicators li.active {
    background-color: #a1d4da;
    width: 40px;
    height: 7px;
    border-radius: 0;
    border: none;
    margin: 0 5px;
}

.carousel-indicators li.active {
    background-color: #1595a3;
}

.features .fa {
    border: solid 3px #dedede;
    color: #1595a3;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    transition: 0.3s all ease;

    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
}

.features .fa:hover {
    background-color: #dedede;
}

.features h3 {
    font-size: 20px;
    color: #777;
}

.features .fa {
    float: none;
    margin: 5px 0 0 0;
}

.features .row {
    margin: 0;
    text-align: center;
}

@media (min-width: 768px) {
    .features .left {
        margin-right: 10px;
    }

    .features .left h3 {
        text-align: right;
    }

    .features .left .fa {
        float: right;
        margin: 5px 0 0 20px;
    }

    .features .right {
        margin-left: 10px;
    }

    .features h3 {
        text-align: left;
    }

    .features .right .fa {
        float: left;
        margin: 5px 20px 0 0;
    }
}

.hide-for-animation {
    visibility: hidden;
}