div(class="container")
    div(class="row")
        div(class="col-sm-12 title-header")
            h1(ng-show="whoRents == 'renterFrom' || whoRents == 'renterTo'") Detail te vehuren artikel
            h1(ng-show="whoRents == 'noAccess'") Geen toegang tot verhuring
            h1(ng-show="whoRents == 'noRenting'") Verhuring niet gevonden
    div(class="row", ng-hide="renting || messages || whoRents == 'noAccess' || whoRents == 'noRenting'")
        img(class="loader", src="images/loader.gif", title="Wacht ..." ,alt="Wacht ...")
    div(class="row detailRenting", ng-show="renting && messages && whoRents != 'noAccess' && whoRents != 'noRenting'")
        div(class="col-sm-6 col-md-4")
            h2 Detailgegevens verhuring
            div(class="row")
                div(class="col-xs-6") Aantal dagen:
                div(class="col-xs-6") {{renting.daysToRent}}
            div(class="row")
                div(class="col-xs-6") Prijs per dag:
                div(class="col-xs-6") &euro; {{renting.renterFrom.product.pricePerDay}}
            div(class="row section")
                div(class="col-xs-6") Totale prijs:
                div(class="col-xs-6") &euro; {{renting.totalPrice}}
            div(class="row")
                div(class="col-xs-6") Verhuurder:
                div(class="col-xs-6") {{renting.renterFrom.toString()}}
            div(class="row section")
                div(class="col-xs-6") Huurder:
                div(class="col-xs-6") {{renting.renterTo.toString()}}
            div(class="row section")
                div(class="col-xs-6") Totale prijs:
                div(class="col-xs-6") &euro; {{renting.totalPrice}}
            div(class="row")
                div(class="col-xs-6") Verhuren van:
                div(class="col-xs-6") {{renting.fromDate | date:"dd/MM/yyyy"}}
            div(class="row section")
                div(class="col-xs-6") Verhuren tot:
                div(class="col-xs-6") {{renting.toDate | date:"dd/MM/yyyy"}}
            div(class="row section")
                div(class="col-xs-6") Naam product:
                div(class="col-xs-6"): a(href="detailProduct/{{renting.renterFrom.product.id}}") {{renting.renterFrom.product.productName}}
            div(class="row")
                div(class="col-xs-6") Locatie:
                div(class="col-xs-6") {{renting.renterFrom.product.place}}
        div(class="col-sm-6 col-md-8")
            h2(ng-show="whoRents == 'renterFrom'") Chat met de huurder
            h2(ng-show="whoRents == 'renterTo'") Chat met de verhuurder
            div(class="messages")
                p(ng-hide="messages[0]") Nog geen berichten verstuurd
                div(class="message", ng-repeat="m in messages | orderBy: '-createdOn'")
                    p {{m.name}}
                    p {{m.content}}
                    p {{m.createdOn | date:'dd/MM/yyyy - HH:mm' : 'UTC'}}
            form(class="form-horizontal", name="chat", ng-submit="addMessage()")
                div(class="form-group")
                    textarea(cols="30", rows="2", name="content", ng-model="content", placeholder="Jouw bericht", autofocus="autofocus", class="form-control", ng-required="true", ng-maxlength="120")
                    div(ng-messages="chat.message.$error", ng-if="chat.message.$touched")
                        p(ng-message="required") Bericht is verplicht in te vullen
                        p(ng-message="maxlength") Bericht is te lang
                div(class="form-group")
                    input(type="submit", value="Stuur bericht", class="btn redirect", ng-disabled="chat.$invalid")