//
   Created by jonah on 12/4/2015.

main
    div(class="container")
        div(class="row col-sm-12")
            p file uploaden
        div(class="row col-sm-12")
            form
                input(type="text", name="productName", ng-model="productName")
                input(type="file", ngf-select, ng-model="picture", name="picture", accept="image/*", ngf-max-size="2MB")
                input(type="submit", ng-click="uploadFile(picture)")
        div(class="row col-sm-12")
            div(ng-repeat="p in products")
                img(src="{{p.url}}" alt="{{p.productName}}")
