div(class="intro intro-authorize")
    div(class="intro-body")
        div(class="container")
            div(class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2")
                div(class="panel login")
                    div(class="panel-heading"): h2 Inloggen
                    div(class="panel-body")
                        uib-alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert($index)") {{alert.msg}}
                        form(class="form-horizontal", name="loginForm", ng-submit="login()")
                            div(class="form-group", ng-class="validate(1)")
                                label(for=email, class="col-sm-3 control-label") Emailadres
                                div(class="col-sm-9")
                                    input(type="email", name="email", id="email", class="form-control", placeholder="Bv. jonathan@swoppr.be", ng-model="email", ng-required="true")
                                div(class="col-sm-9 col-sm-offset-3", ng-messages="loginForm.email.$error", ng-if="loginForm.email.$touched")
                                    p(ng-message="required") Emailadres is verplicht in te vullen
                                    p(ng-message="email") Gelieve een correct emailadres op te geven
                            div(class="form-group", ng-class="validate(2)")
                                label(for="password", class="col-sm-3 control-label") Wachtwoord
                                div(class="col-sm-9")
                                    input(type="password", name="password", id="password" class="form-control", placeholder="Bv. swoppr01", ng-model="password", ng-minlength="7", ng-maxlength="50", ng-required="true")
                                div(class="col-sm-9 col-sm-offset-3", ng-messages="loginForm.password.$error", ng-if="loginForm.password.$touched")
                                    p(ng-message="required") Wachtwoord is verplicht in te vullen
                                    p(ng-message="minlength") Wachtwoord moet minimaal uit 7 karakters bestaan
                                    p(ng-message="maxlength") Wachtwoord moet maximaal uit 50 karakters bestaan
                            div(class="form-group")
                                div(class="col-sm-offset-3 col-sm-1 authenticatebtn")
                                    input(type="submit", ng-disabled="loginForm.$invalid", value="Log in" class="btn redirect")
                                div(class="col-sm-6 otherAction notRegistered")
                                    p: a(href="/register") Geen account? Registreer nu.
                                div(class="col-sm-1")
                                    a(redir, href='/partials/auth/google', class="googleplus largeFont")
                                        div(class="fa fa-google-plus-square")