div(class="container")
    div(class="row")
        div(class="col-sm-12")
            h1 Mijn verhuringen
    div(class="row", ng-hide="$root.rentingsRenterFrom && $root.rentingsRenterTo")
        img(class="loader", src="images/loader.gif", title="Wacht ..." ,alt="Wacht ...")
    div(class="row", ng-show="$root.rentingsRenterFrom && $root.rentingsRenterTo")
        div(class="col-sm-12")
            h2 Artikelen die ik verhuur
        div(class="col-sm-12")
            div(class="table-responsive")
                table(class="table table-hover")
                    tr
                        th: a(href="#", ng-click="sortType1 = 'renterFrom.product.productName'; sortReverse1 = !sortReverse1") Naam artikel
                        th: a(href="#", ng-click="sortType1 = 'fromDate'; sortReverse1 = !sortReverse1") Huurperiode
                        th: a(href="#", ng-click="sortType1 = 'totalPrice'; sortReverse1 = !sortReverse1") Totale prijs
                        th: a(href="#", ng-click="sortType1 = 'renterTo.firstname'; sortReverse1 = !sortReverse1") Verhuren aan
                        th
                        th
                        th
                    tr(ng-repeat=("r in $root.rentingsRenterFrom | orderBy:sortType1:sortReverse1"))
                        td: a(href="/detailProduct/{{r.renterFrom.product.id}}") {{r.renterFrom.product.productName}}
                        td {{r.fromDate | date:"dd/MM/yyyy"}} - {{r.toDate | date:"dd/MM/yyyy"}}
                        td &euro; {{r.totalPrice}}
                        td {{r.renterTo.firstname}} {{r.renterTo.surname}}
                        td: a(href="/detailRenting/{{r.id}}"): i(class="fa fa-info-circle smallFont")
                        td: a(href="/editRenting/{{r.id}}"): i(class="fa fa-pencil smallFont")
                        td: a(href="#", ng-click="open(r.id, r.renterFrom.product.productName, 'renting.renterFrom')"): i(class="fa fa-trash smallFont")
        div(class="col-sm-12")
            h2 Artikelen die ik huur
        div(class="col-sm-12")
            div(class="table-responsive")
                table(class="table table-hover")
                    tr
                        th: a(href="#", ng-click="sortType2 = 'renterFrom.product.productName'; sortReverse2 = !sortReverse2") Naam artikel
                        th: a(href="#", ng-click="sortType2 = 'fromDate'; sortReverse2 = !sortReverse2") Huurperiode
                        th: a(href="#", ng-click="sortType2 = 'totalPrice'; sortReverse2 = !sortReverse2") Totale prijs
                        th: a(href="#", ng-click="sortType2 = 'renterFrom.firstname'; sortReverse2 = !sortReverse2") Verhuren aan
                        th
                        th
                        th
                    tr(ng-repeat=("r in $root.rentingsRenterTo | orderBy:sortType2:sortReverse2"))
                        td: a(href="/detailProduct/{{r.renterFrom.product.id}}") {{r.renterFrom.product.productName}}
                        td {{r.fromDate | date:"dd/MM/yyyy"}} - {{r.toDate | date:"dd/MM/yyyy"}}
                        td &euro; {{r.totalPrice}}
                        td {{r.renterFrom.firstname}} {{r.renterFrom.surname}}
                        td: a(href="/detailRenting/{{r.id}}"): i(class="fa fa-info-circle smallFont")
                        td: a(href="/editRenting/{{r.id}}"): i(class="fa fa-pencil smallFont")
                        td: a(href="#", ng-click="open(r.id, r.renterFrom.product.productName, 'renting.renterTo')"): i(class="fa fa-trash smallFont")