div(class="container")
    div(class="row")
        div(class="col-sm-12")
            h1 Mijn verhuringen
    div(class="row", ng-hide="rentingsRenterFrom || rentingsRenterTo")
        img(class="loader", src="images/loader.gif", title="Wacht ..." ,alt="Wacht ...")
    div(class="row", ng-show="rentingsRenterFrom || rentingsRenterTo")
        div(class="col-sm-12")
            h2 Producten die ik verhuur
        div(class="col-sm-12")
            div(class="table-responsive")
                table(class="table table-hover")
                    tr
                        th: a(href="#", ng-click="sortType1 = 'renterFrom.product.productName'; sortReverse1 = !sortReverse1") Naam product
                        th: a(href="#", ng-click="sortType1 = 'fromDate'; sortReverse1 = !sortReverse1") Huurperiode
                        th: a(href="#", ng-click="sortType1 = 'totalPrice'; sortReverse1 = !sortReverse1") Totale prijs
                        th: a(href="#", ng-click="sortType1 = 'renterTo.firstname'; sortReverse1 = !sortReverse1") Verhuren aan
                        th
                        th
                        th
                    tr(ng-repeat=("r in rentingsRenterFrom | orderBy:sortType1:sortReverse1"))
                        td: a(href="/detailProduct/{{r.renterFrom.product.id}}") {{r.renterFrom.product.productName}}
                        td {{r.fromDate | date:"MM/dd/yyyy"}} - {{r.toDate | date:"MM/dd/yyyy"}}
                        td &euro; {{r.totalPrice}}
                        td {{r.renterTo.firstname}} {{r.renterTo.surname}}
                        td: a(href="/detailRenting/{{r.id}}") Detail
                        td Bewerk
                        td Verwijder
        div(class="col-sm-12")
            h2 Producten die ik huur
        div(class="col-sm-12")
            div(class="table-responsive")
                table(class="table table-hover")
                    tr
                        th: a(href="#", ng-click="sortType2 = 'renterFrom.product.productName'; sortReverse2 = !sortReverse2") Naam product
                        th: a(href="#", ng-click="sortType2 = 'fromDate'; sortReverse2 = !sortReverse2") Huurperiode
                        th: a(href="#", ng-click="sortType2 = 'totalPrice'; sortReverse2 = !sortReverse2") Totale prijs
                        th: a(href="#", ng-click="sortType2 = 'renterFrom.firstname'; sortReverse2 = !sortReverse2") Verhuren aan
                        th
                        th
                        th
                    tr(ng-repeat=("r in rentingsRenterTo | orderBy:sortType2:sortReverse2"))
                        td: a(href="/detailProduct/{{r.renterFrom.product.id}}") {{r.renterFrom.product.productName}}
                        td {{r.fromDate | date:"MM/dd/yyyy"}} - {{r.toDate | date:"MM/dd/yyyy"}}
                        td &euro; {{r.totalPrice}}
                        td {{r.renterFrom.firstname}} {{r.renterFrom.surname}}
                        td {{r.renterFrom.firstname}} {{r.renterFrom.surname}}
                        td: a(href="/detailRenting/{{r.id}}") Detail
                        td Bewerk
                        td Verwijder