//
   Created by jonah on 12/4/2015

div(class="page-title").
    Implements ui-gmap-search-box as google.maps.places.Autocomplete. Restricted to cities in France.</div>
div(id="searchBoxParent")
    div
        ui-gmap-google-map(center="map.center", zoom="map.zoom", dragging="map.dragging", bounds="map.bounds", events="map.events", options="map.options", pan="true", control="map.control")
            ui-gmap-search-box(options="searchbox.options", template="searchbox.template", events="searchbox.events", position="searchbox.position")
            ui-gmap-markers(idkey="map.idkey", models="map.markers", coords="'self'", icon="'icon'", click="'onClicked'")
            ui-gmap-window(coords="selected", idkey="selected.place_id", templateurl="selected.templateurl", templateparameter="selected.templateparameter", options="selected.options", closeClick='selected.closeClick()', ng-cloak)