div(class="page-header text-center")
    h1.
        Profile page
div(class="row")
    div(class="col-sm-6")
        h3 Local
        container(ng-show="$root.user.local.email")
            p {{$root.user._id}}
            p email: {{$root.user.local.email}}
            p password: {{$root.user.local.password}}