main
    div(class="container")
        div(class="row")
            div(class="col-sm-12 title-header")
                h1 Mijn profiel
        div(class="row")
            div(class="col-sm-6")
                h2 Gebruikersgegevens
                table(class="table")
                    tr
                        td Emailadres
                        td {{$root.user.local.email}}
                    tr
                        td Naam
                        td {{$root.user.firstname}} {{$root.user.surname}}
            div(class="col-sm-6")
                h2(class="authorized2") Login met Google+
                div(ng-show="$root.user.google.token")
                    table(class="table")
                        tr
                            td Emailadres
                            td {{ $root.user.google.email }}
                        tr
                            td Name
                            td {{ $root.user.google.name }}
                    a(redir, href="/partials/unlink/google", class="btn btn-danger") Ontkoppel login
                div(ng-hide="$root.user.google.token")
                    a(redir, href="/partials/connect/google", class="btn btn-primary") Koppel login