//
   Created by jonah on 12/18/2015.

div(class="container")
    div(class="row")
        div(class="col-sm-12 title-header")
            h1 Naam product
    div(class="row")
        div(class="col-sm-6 detailLeft")
            div: img(src="http://lorempixel.com/450/250/")
            div: p Maar mannen, ik wil de Guido helemaal niet vervangen. Gij komt hier op een paar knopkes drukken en dan is de Jean weggewist? Ja, zo zoude je het kunnen noemen ja.
        div(class="col-sm-6")
            p(class="input-group")
                input(type="text", class="form-control", uib-datepicker-popup="{{format}}", ng-model="dt1", is-open="dt1.status.opened", min-date="dt1.minDate", datepicker-options="dateOptions", ng-required="true", close-text="Close")
                span(class="input-group-btn")
                    button(type="button", class="btn btn-default", ng-click="dt1.open($event)")
                        i(class="fa fa-calendar")
            p(class="input-group")
                input(type="text", class="form-control", uib-datepicker-popup="{{format}}", ng-model="dt2", is-open="dt2.status.opened", min-date="dt2.minDate", datepicker-options="dateOptions", ng-required="true", close-text="Close")
                span(class="input-group-btn")
                    button(type="button", class="btn btn-default", ng-click="dt2.open($event)")
                        i(class="fa fa-calendar")

