div(class="container", ng-hide="user.id || user == 'error' || user == 'deleted' || ownProduct")
    img(class="loader", src="images/loader.gif", title="Wacht ..." ,alt="Wacht ...")
div(class="container", ng-show="user == 'error'")
    div(class="row")
        div(class="col-sm-12 title-header")
            h1 Geen artikel gevonden
div(class="container", ng-show="user == 'deleted'")
    div(class="row")
        div(class="col-sm-12 title-header")
            h1 Artikel is verwijderd
div(class="container", ng-show="ownProduct")
    div(class="row")
        div(class="col-sm-12 title-header")
            h1 Eigen artikel
    div(class="row")
        div(class="col-sm-12")
            a(href="detailProduct/{{ownProduct}}", title="Detail product", class="btn btn-default redirect") Detail artikel
div(class="container", ng-show="user.id")
    div(class="row")
        div(class="col-sm-12 title-header")
            h1 {{user.product.productName}} - &euro;{{user.product.pricePerDay}}/dag
    div(class="row detailProduct")
        div(class="col-sm-12 col-md-6")
            div(class="row")
                img(ng-hide="user.product.url == '/'", src="{{user.product.url}}")
                img(ng-show="user.product.url == '/'", src="images/noImageFound.png")
            div(class="row")
                div(class="col-sm-3") Beschrijving:
                div(class="col-sm-9") {{user.product.description}}
            div(class="row")
                div(class="col-sm-3") Verhuurt door:
                div(class="col-sm-9") {{user.toString()}}
            div(class="row")
                div(class="col-sm-3") Locatie:
                div(class="col-sm-9"): a(href="detailProduct/{{user.product.id}}", title="Detail product") {{user.product.place}}
        div(class="col-sm-12 col-md-6 form-horizontal")
            uib-alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert($index)") {{alert.msg}}
            div(class="row")
                div(class="col-sm-12")
                    h2 Artikel verhuren
            div(class="row")
                label(for=dateFrom, class="col-sm-3 control-label text-left") Huren van:
                div(class="input-group col-sm-9")
                    input(type="text", id="dateFrom", title="Huren van", class="form-control", uib-datepicker-popup="{{format}}", ng-model="dt1", is-open="dt1.status.opened", min-date="dt1.minDate", datepicker-options="dateOptions", ng-required="true", close-text="Close")
                    span(class="input-group-btn")
                        button(type="button", class="btn btn-default", ng-click="dt1.open($event)")
                            i(class="fa fa-calendar")
            div(class="row")
                label(for=dateTo, class="col-sm-3 control-label text-left") Huren tot:
                div(class="input-group col-sm-9")
                    input(type="text", id="dateTo", title="Huren tot", class="form-control", uib-datepicker-popup="{{format}}", ng-model="dt2", is-open="dt2.status.opened", min-date="dt2.minDate", datepicker-options="dateOptions", ng-required="true", close-text="Close")
                    span(class="input-group-btn")
                        button(type="button", class="btn btn-default", ng-click="dt2.open($event)")
                            i(class="fa fa-calendar")
            div(class="row")
                div(class="col-sm-3") Aantal dagen:
                div(class="col-sm-9") {{daysToRent}}
            div(class="row")
                div(class="col-sm-3") Totale prijs:
                div(class="col-sm-9") &euro; {{totalPrice}}
            div(class="row")
                div(class="col-sm-offset-3 col-sm-9")
                    input(type="submit", value="Vehuren", title="Verhuren", class="btn redirect", ng-click="rentProduct()")