//
   Created by jonah on 12/17/2015.

div(class="col-sm-4 col-md-3")
    a(href="#")
        div(class="thumbnail")
            div
                img(src="http://lorempixel.com/300/250/")
                div(class="mask2")
                    p hello lkjmlkmjqslkjfds mlkjqsmlkdj mlkdsj mlk
            p(class="smallFont") Grasmaaier dsdqsfqdsf
            p(class="smallFontBigger price") &euro; 5 / dag