//
   Created by jonah on 11/13/2015.

div(class="container")
    div(class="row")
        div(class="col-sm-12 title-header")
            h1 Te verhuren
    div(class="row filter-sort-products")
        div(class="col-sm-4 col-md-3")
            div(class="form-container")
                input(type="text", placeholder="Zoek product", id="searchProduct", ng-model="searchProduct", class="form-control")
        div(class="col-sm-4 col-md-3")
            div(class="form-container")
                select(id="sortOn", class="form-control", ng-model="sortProperty")
                    option(value="pricePerDay") Prijs oplopend
                    option(value="-pricePerDay") Prijs aflopend
                    option(value="productName") Naam oplopend
                    option(value="-productName") Naam aflopend
    div(class="row", ng-hide="products[0]")
        img(class="loader", src="images/loader.gif", title="Wacht ..." ,alt="Wacht ...")
    div(class="row", ng-show="products[0]")
        div(class="col-sm-12 cards")
            div(ng-show="products", class="row")
                div(class="col-sm-4 col-md-3", ng-repeat="p in products | orderBy:sortProperty | filter:searchProduct")
                    productforrent