extends layout

block body
  include snippets/navigation

  div(ng-view)
  script(src='js/ext/angular.js')
  script(src='js/ext/angular-route.js')
  script(src='js/ext/angular-animate.min.js')
  script(src='js/ext/angular-scroll-animate.js')
  script(src='js/ext/ui-bootstrap-tpls.min.js')
  script(src='js/app.min.js')