extends layout

block body
  include snippets/navigation

  div(ng-view)

  script(src='js/ext/angular.js')
  script(src='js/ext/angular-route.js')
  script(src='js/ext/angular-messages.js')
  script(src='js/ext/angular-animate.js')
  script(src='js/ext/ui-bootstrap-tpls.js')
  script(src='js/ext/httpInterceptor.js')
  script(src="js/ext/socket.io.js")
  script(src="js/ext/ng-file-upload-shim.js")
  script(src="js/ext/ng-file-upload.js")
  script(src='js/app.min.js')