extends layout

block body
  include snippets/navigation

  div(ng-view)

  script(src='js/ext/angular.js')
  script(src='js/ext/angular-route.js')
  script(src='js/ext/angular-animate.js')
  script(src='js/ext/ui-bootstrap-tpls.js')
  script(src='js/factories/httpInterceptor.js')
  script(src='js/ext/growl.js')
  script(src='js/app.min.js')