extends layout

block body
  include snippets/navigation

  div(ng-view)

  script(src='js/vendor/angular.js')
  script(src='js/vendor/angular-route.js')
  script(src='js/vendor/angular-messages.js')
  script(src='js/vendor/angular-animate.js')
  script(src='js/vendor/ui-bootstrap-tpls.js')
  script(src='js/vendor/httpInterceptor.js')
  script(src="js/vendor/socket.io.js")
  script(src="js/vendor/ng-file-upload-shim.js")
  script(src="js/vendor/ng-file-upload.js")
  script(src='js/app.min.js')