doctype
html(ng-app="swoppr")
  head
    meta(charset='utf8')
    meta(name='viewport' content="width=device-width, initial-scale=1")
    base(href='/')
    title Swoppr

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block body
