doctype
html(ng-app="swoppr")
  head
    meta(charset='utf8')
    base(href='/')
    title Swoppr

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src='js/ext/angular.js')
    script(src='js/ext/angular-route.js')
    script(src='js/ext/angular-animate.min.js')
    script(src='js/ext/angular-scroll-animate.js')
    script(src='js/ext/ui-bootstrap-tpls.min.js')
  body
    block body
