//
   Created by jonah on 11/13/2015.

header(class="intro intro-header")
    div(class="intro-body")
        div(class="container")
            div(class="row")
                div(class="col-md-8 col-md-offset-2")
                    h1(class="brand-heading largestFont") Swoppr
                    p(class="intro-text smallFont") Online verhuurplatform voor consumenten