//
   Created by jonah on 11/13/2015.

section
    div(class="container")
        div(class="row hide-for-animation", when-visible="fadeInUp")
            div(class="col-sm-12 text-center")
                h2 Onze oplossing
                span(class="title-sep")
        div(class="row hide-for-animation", when-visible="fadeInUp")
            div(class="col-sm-8 col-sm-offset-2 text-center")
                p.
                    Swoppr heeft twee doelinstellingen. Aan de ene kant bieden we onze gebruikers de mogelijkheid om goederen te verhuren die ze op dit moment niet nodig hebben.
                    Aan de andere kant maken we het mogelijk om producten te gebruiken zonder de noodzaak deze daadwerkelijk te komen.
                p.
                    In tegenstelling tot Kapaza of 2dehands zijn wij geen gewone website met vraag en aanbod. Wij zijn een innovatief verhuurplatform voor iedere bewuste consument.
        div(class="row features")
            div(class="col-sm-offset-2 col-sm-4 left hide-for-animation", when-visible="fadeInLeft")
                div(class="row")
                    i(class="fa fa-leaf")
                    h3(class="title") Ecologisch
                div(class="row")
                    i(class="fa fa-credit-card")
                    h3(class="title") Makkelijk betalen
            div(class="col-sm-4 right hide-for-animation", when-visible="fadeInRight")
                div(class="row")
                    i(class="fa fa-filter")
                    h3(class="title") Handige filters
                div(class="row")
                    i(class="fa fa-map-marker")
                    h3(class="title") Locatie gebaseerd