//
   Created by jonah on 11/13/2015.

section
    div(class="container")
        div(class="row hide-for-animation", when-visible="fadeInUp")
            div(class="col-sm-12 text-center")
                h2(class="mediumFont") Onze oplossing
                span(class="title-sep")
        div(class="row hide-for-animation", when-visible="fadeInUp")
            div(class="col-sm-8 col-sm-offset-2 text-center")
                p.
                    Swoppr heeft twee doelinstellingen. Aan de ene kant bieden we onze gebruikers de mogelijkheid om goederen te verhuren die ze op dit moment niet nodig hebben.
                    Aan de andere kant maken we het mogelijk om producten te gebruiken zonder de noodzaak deze daadwerkelijk te komen.
                p.
                    In tegenstelling tot Kapaza of 2dehands zijn wij geen gewone website met vraag en aanbod. Wij zijn een innovatief verhuurplatform voor iedere bewuste consument.
        div(class="row features")
            div(class="col-sm-offset-1 col-sm-5 left hide-for-animation", when-visible="fadeInLeft")
                div(class="row")
                    i(class="fa fa-leaf smallFont")
                    h3(class="title") Ecologisch
                div(class="row")
                    i(class="fa fa-credit-card smallFont")
                    h3(class="title") Betalen via Swoppers
            div(class="col-sm-5 right hide-for-animation", when-visible="fadeInRight")
                div(class="row")
                    i(class="fa fa-money smallFont")
                    h3(class="title") Geld verdienen
                div(class="row")
                    i(class="fa fa-map-marker smallFont")
                    h3(class="title") Locatie gebaseerd