//
   Created by jonah on 11/13/2015.

section
    div(class="container")
        div(class="row hide-for-animation", when-visible="fadeInUp")
            div(class="col-sm-12 text-center")
                h2(class="mediumFont") Ons team
                span(class="title-sep")
        div(class="col-sm-6 col-md-3 hide-for-animation", when-visible="zoomIn")
            div(class="team-member text-center")
                div(class="picture")
                    img(src="images/thibault.png", class="img-responsive", alt="Thibault Vanluchene", title="Thibault Vanluchene")
                    div(class="mask")
                        div(class="team-member-icons")
                            a(target="_blank", href="https://www.facebook.com/thibault.vanluchene", title="Facebook Thibault Vanluchene")
                                i(class="fa fa-facebook")
                            a(target="_blank", href="https://be.linkedin.com/pub/thibault-vanluchene/ba/129/192", title="LinkedIn Thibault Vanluchene")
                                i(class="fa fa-twitter")
                h4 Thibault Vanluchene
                p(class="text-muted") Environmentalist
        div(class="col-sm-6 col-md-3 hide-for-animation", when-visible="zoomIn")
            div(class="team-member text-center")
                div(class="picture")
                    img(src="images/jonathan.png", class="img-responsive", alt="Jonathan Houck", title="Jonathan Houck")
                    div(class="mask")
                        div(class="team-member-icons")
                            a(target="_blank", href="https://www.facebook.com/jona.houck", title="Facebook Jonathan Houck")
                                i(class="fa fa-facebook")
                            a(target="_blank", href="https://be.linkedin.com/pub/jonathan-houck/100/55/418", title="LinkedIn Jonathan Houck")
                                i(class="fa fa-twitter")
                h4 Jonathan Houck
                p(class="text-muted") Web geek
        div(class="col-sm-6 col-md-3 hide-for-animation", when-visible="zoomIn")
            div(class="team-member text-center")
                div(class="picture")
                    img(src="images/lienert.png", class="img-responsive", alt="Lienert Deprez", title="Lienert Deprez")
                    div(class="mask")
                        div(class="team-member-icons")
                            a(target="_blank", href="https://www.facebook.com/lienertd", title="Facebook Lienert Deprez")
                                i(class="fa fa-facebook")
                            a(target="_blank", href="https://be.linkedin.com/pub/lienert-deprez/100/158/905", title="LinkedIn Lienert Deprez")
                                i(class="fa fa-twitter")
                h4 Lienert Deprez
                p(class="text-muted") Drone enthusiast
        div(class="col-sm-6 col-md-3 hide-for-animation", when-visible="zoomIn")
            div(class="team-member text-center")
                div(class="picture")
                    img(src="images/ward.png", class="img-responsive", alt="Ward Baert", title="Ward Baert")
                    div(class="mask")
                        div(class="team-member-icons")
                            a(target="_blank" href="https://www.facebook.com/ward.baert.5", title="Facebook Ward Baert")
                                i(class="fa fa-facebook")
                            a(target="_blank" href="https://twitter.com/baertward", title="LinkedIn Ward Baert")
                                i(class="fa fa-twitter")
                h4 Ward Baert
                p(class="text-muted") Leader in youth movement
