//
   Created by jonah on 11/13/2015.

section
    div(class="container")
        div(class="row hide-for-animation", when-visible="fadeInUp")
            div(class="col-sm-12 text-center")
                h2(class="mediumFont") Ons team
                span(class="title-sep")
        div(class="col-sm-3 hide-for-animation", when-visible="zoomIn")
            div(class="team-member text-center")
                div(class="picture")
                    img(src="images/ward.png", class="img-responsive", alt="Ward Baert")
                    div(class="mask")
                        div(class="team-member-icons")
                            a(target="_blank" href="https://www.facebook.com/ward.baert.5")
                                i(class="fa fa-facebook")
                            a(target="_blank" href="https://twitter.com/baertward")
                                i(class="fa fa-twitter")
                h4 Ward Baert
                p(class="text-muted") Sales coordinator
        div(class="col-sm-3 hide-for-animation", when-visible="zoomIn")
            div(class="team-member text-center")
                div(class="picture")
                    img(src="images/lienert.png", class="img-responsive", alt="Lienert Deprez")
                    div(class="mask")
                        div(class="team-member-icons")
                            a(target="_blank", href="https://www.facebook.com/lienertd")
                                i(class="fa fa-facebook")
                            a(target="_blank", href="https://be.linkedin.com/pub/lienert-deprez/100/158/905")
                                i(class="fa fa-twitter")
                h4 Lienert Deprez
                p(class="text-muted") Marketing strategist
        div(class="col-sm-3 hide-for-animation", when-visible="zoomIn")
            div(class="team-member text-center")
                div(class="picture")
                    img(src="images/thibault.png", class="img-responsive", alt="Thibault Vanluchene")
                    div(class="mask")
                        div(class="team-member-icons")
                            a(target="_blank", href="https://www.facebook.com/thibault.vanluchene")
                                i(class="fa fa-facebook")
                            a(target="_blank", href="https://be.linkedin.com/pub/thibault-vanluchene/ba/129/192")
                                i(class="fa fa-twitter")
                h4 Thibault Vanluchene
                p(class="text-muted") Sales coordinator
        div(class="col-sm-3 hide-for-animation", when-visible="zoomIn")
            div(class="team-member text-center")
                div(class="picture")
                    img(src="images/jonathan.png", class="img-responsive", alt="Jonathan Houck")
                    div(class="mask")
                        div(class="team-member-icons")
                            a(target="_blank", href="https://www.facebook.com/jona.houck")
                                i(class="fa fa-facebook")
                            a(target="_blank", href="https://be.linkedin.com/pub/jonathan-houck/100/55/418")
                                i(class="fa fa-twitter")
                h4 Jonathan Houck
                p(class="text-muted") Developer