<a href='/rentProduct/{{p.id}}'>
    <div class='thumbnail'>
        <div><div class='mask2'>
            <p>Beschrijving:</p>
            <p>{{p.shortDescription()}}</p>
        </div>
            <img ng-hide="p.url == '/'" src="{{p.url}}" alt="{{p.productName}}" title="{{p.productName}}" />
            <img ng-show="p.url == '/'" src="images/noImageFound.png" alt="Geen afbeelding gevonden" title="Geen afbeelding gevonden" />
        </div>
        <p class='smallFont'>{{p.shortProductName()}}</p>
        <p class='smallFontBigger price'> &euro; {{p.pricePerDay}} / dag</p>
    </div>
</a>