//
   Created by jonah on 11/13/2015.

nav(class="navbar navbar-default", ng-controller="NavbarCtrl")
    div(class="container")
        div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", ng-click="isCollapsed = !isCollapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand", href="#")
                img(src="images/logo_swoppr.png")
            a(href="#", class="navbar-title") Swoppr
        div(id="navbar", class="navbar-collapse collapse", uib-collapse="isCollapsed")
            ul(class="nav navbar-nav")
                li: a(href="/", ng-class="getClass('/')") Start
                    i(class="underline")
                li: a(href="/toRent", ng-class="getClass('/toRent')") te verhuren
                    i(class="underline")
                li: a(href="/placeArticle", ng-class="getClass('/placeArticle')") Plaats artikel
                    i(class="underline")
            ul(class="nav navbar-nav navbar-right")
                li(ng-show="$root.user.local.email")
                    a(href="/profile", class="fa fa-user mediumFont")
                li(ng-show="$root.user.local.email")
                    a(href="/logout", logout) Uitloggen
                li(ng-hide="$root.user.local.email")
                    a(href="/login") Inloggen
                        i(class="underline")
                li(ng-hide="$root.user.local.email")
                    a(href="/register") Registreer
                    i(class="underline")