//
   Created by jonah on 11/13/2015.

nav(class="navbar navbar-default", ng-controller="NavbarCtrl")
    div(class="container")
        div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", ng-click="isCollapsed = !isCollapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(href="/", class="navbar-brand")
                img(src="images/logo_swoppr.png")
            a(href="/", class="navbar-title")
                img(src="images/logo_swoppr.png")
                p Swoppr
        div(id="navbar", class="navbar-collapse collapse", uib-collapse="isCollapsed")
            ul(class="nav navbar-nav", ng-show="$root.user.local.email")
                li: a(href="/toRent", ng-class="getClass('/toRent')") Te verhuren
                    i(class="underline")
                li: a(href="/placeArticle", ng-class="getClass('/placeArticle')") Plaats artikel
                    i(class="underline")
            ul(class="nav navbar-nav navbar-right", ng-show="$root.user.local.email")
                li(class="dropdown")
                    a(href="/profile", class="fa fa-user mediumFont dropdown-toggle")
                    ul(class="dropdown-menu")
                        li: a(href="/profile") Mijn profiel
                        li: a(href="/logout", logout) Uitloggen
                li(class="mobile-only")
                    a(href="/profile", ng-class="getClass('/profile')") Mijn profiel
                li(class="mobile-only")
                    a(href="/logout", logout) Uitloggen
            ul(class="nav navbar-nav navbar-right", ng-hide="$root.user.local.email")
                li
                    a(href="/login", ng-class="getClass('/login')") Inloggen
                        i(class="underline")
                li
                    a(href="/register", ng-class="getClass('/register')") Registreer
                    i(class="underline")