@import "mixins.less";
@import "variables.less";

html, body {
  height: 100%;
}

body {
  .sansSerif();
}

a {
  color: @primary;

  &:hover, &:focus {
    color: @primary-dark;
  }
}

h1 {
  .fontSize(25px);
}

h2 {
  .fontSize(20px);
}

div[ng-view] {
  height: ~"calc(100% - 75px)";
}

.btn {
  .transitionBtn();
}

.loader {
  margin: 50px;
}

.title-header {
  text-align: center;
  padding-bottom: 10px;
  margin: 10px 0 30px;
  border-bottom: 1px solid @light-darker-more;
}


.detailProduct {
  .row {
    margin-bottom: 20px;
  }
}

.detailRenting {
  .section {
    margin-bottom: 20px;
  }

  .messages {
    max-height: 480px;
    overflow-y: scroll;

    .message {
      border-bottom: 1px solid @light-darker;
      margin-bottom: 15px;

      p:first-child {
        font-weight: bold;
        margin-bottom: 5px;
      }

      p:nth-child(3) {
        color: @secondary-dark;
      }
    }
  }
}

.angular-google-map {
  margin-bottom: 20px;
}
