@import "mixins.less";
@import "variables.less";

html, body {
  height: 100%;
}

body {
  .sansSerif();
}

a {
  color: @primary;

  &:hover, &:focus {
    color: @primary-dark;
  }
}

h1 {
  .fontSize(25px);
}

h2 {
  .fontSize(20px);
}

div[ng-view] {
  height: ~"calc(100% - 75px)";
}

.btn {
  .transitionBtn();
}

.loader {
  margin: 50px;
}