/**
 * Created by jonah on 11/13/2015.
 */

@primary: #1595a3;
@primary-dark: darken(@primary, 5%);
@primary-light: #a1d4da;
@primary-light-darker: darken(@primary-light, 10%);

@secondary: #a5a5a5;
@secondary-light: #dedede;
@secondary-dark: #777;

@dark: #000;
@dark-lighter: lighten(@dark, 5%);

@light: #fff;
@light-darker: darken(@light, 5%);
@light-darker-more: darken(@light, 10%);

@neigbourhoodImg: url(../images/pruner.jpg);
@neigbourhoodImgBlur: url(../images/pruner_blurred.jpg);